body{
    font-family: 'Nunito', sans-serif;
}
.Header {
  box-shadow: 0 8px 6px -6px #00000033;
}
.container{
  margin-top: 20px;
  display: flex;
}
.Header-Buttons{
  margin-left: auto;
  margin-right: 25%;
}
.Header-logo img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.Header-left{
  margin-left: 25%;
    margin-bottom: 10px;
}
.Header-left-Text{
  display: inline-block;
}
.Title{
  width: 450px;
  margin-left: 35%;
margin-bottom: 50px;
}
.main{
margin: 0 auto;
text-align: center;
}
.GetStart{
  background-color: #4a72e2;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.UserPage{
  text-align: center;
}

.UserPage img{
  width: 35px;
  height: 35px;
  margin-top: 50px;
  border-radius: 20px;
}

.UserPage-Menu{
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;

}

.UserPage-Menu a{
  text-decoration: none;
  text-align: center;
}
.MenuInfo{
  text-align: center;
}

.DisplayIcons{
  display: block;
 text-align: center;
align-content: center;
align-items: center;
margin-top: 25px;
}
.DisplayIcons img{
  border-radius: 10px;
}
.MenuIconsHelper{
margin-top: 50px;
}

.Header-Buttons img {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 25px;
}

.RegionButton{
  display: grid;
}
.RegionButton a {
    margin: 0 auto;
    border-radius: 15px;
    background: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 300px;
    border: none;
    height: 50px;
    font-size: 20px;
	color:black;
	text-decoration: none;
	padding-top:12px;
}
.RegionButton a:hover{
  background: #187adf;
  text-decoration: none;
  color: white;
}

.Category table { border-collapse:collapse; text-align: left; }
.Category table tbody .information { word-spacing: 10px; }
.Category table tbody tr { border-bottom: 1px solid #000; }

.Category{
  display: grid;
}
.Category a {
    margin: 0 auto;
    border-radius: 15px;
    background: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 300px;
    border: none;
    height: 50px;
    font-size: 20px;
	color:black;
	text-decoration: none;
}
.Category a:hover{
  background: #187adf;
  text-decoration: none;
  color: white;
}

.EcoButton{
  display: grid;
}
.EcoButton a {
    margin: 0 auto;
    border-radius: 15px;
    background: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 300px;
    border: none;
    height: 50px;
    font-size: 20px;
	color:white;
	text-decoration: none;
	padding-top:12px;
}
.EcoButton a:hover{
  background: #187adf;
  text-decoration: none;
  color: white;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

#myDiv {
  display: none;
  text-align: center;
}

#top,
#bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
}

#top {
    top: 0;

}

#bottom {
    bottom: 0;
    background-color: #fdffdd;
    overflow: hidden;
}

.transparentButton{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
