Options FollowSymLinks 
RewriteEngine on 
RewriteBase /
RewriteCond %{HTTP_HOST} !/$ [NC]
RewriteRule ^(.*)$ /$1 [L,R=301]

<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files *.html>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

